.not-found-content {
  padding: 40px;
  transition: all 0.3s ease;

  // Mode clair
  background-color: #ffffff;
  color: #212529;

  .warning-icon {
    color: #ffc107;
  }

  &.dark-mode {
    background-color: #121212;
    color: #f1f1f1;

    .warning-icon {
      color: #ffca28;
    }

    .btn-primary {
      background-color: #0d6efd;
      border-color: #0d6efd;
      color: #fff;
    }
  }
}
